* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    padding: 100px 300px;
    font-family: Arial, sans-serif;
}
section {
    background-color: white;
    padding: 30px;
}
/* Form */
label {
    font-size: 17px;
    font-weight: 700;
    display: block;
}
span {
    color: red;
    font-weight: 900;
    font-size: 18px;
}
.text-box {
    height: 35px;
    width: 250px;
    padding: 10px 5px;
    font-size: 20px;
    margin-bottom: 5px;
}
.text-undername {
    color: gray;
    font-size: 15px;
}
.text-undername b {
    margin-top: -30px;
}
/* Title  */
h4 {
    margin-top: 15px;
    font-size: 17px;
}
i {
    color: rgb(238, 186, 54);
    font-size: 24px;
    margin: 5px 6px 24px 0px;
} 
/* Table style */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
td:nth-child(2),
td:nth-child(3),
td:nth-child(4),
td:nth-child(5),
td:nth-child(6) {
    text-align: center;
    padding: 10px;
}
/* Table head */
th {
    padding-bottom: 10px;
    padding-top: 10px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
/* table td */
th, td {
    text-align: left;
    padding: 9px;
 }
/* width  for textbox1 */
.width-td1 {
    width: 160px;
    padding: 9px;
}
/* width  for textbox2 */
.width-td {
    width: 160px;
    padding: 9px;
}
/* Textarea */
textarea {
    width: 100%;
    height: 120px;
    margin-top: 5px;
}
/* button style */
button {
    padding: 15px 20px;
    border: none;
    outline: none;
    background-color: #dddddd;
    font-size: 16px;
}
/* Margin styles*/
.m-5 {
    margin-left: 20px;
}
.m-t {
    margin-top: 20px;
}

.m-b {
    margin-bottom: 10px;
}
.u-2 {
    margin-left: 237px;
}
.w-50 {
    width: 67%;
}
/* Media styles */
@media (max-width:1200px){
    body {
    padding: 100px 100px;
}
.w-50 {
    width: 72%;
}
}
@media (max-width:991px){
    body {
    padding: 100px 20px;
}
}
@media (max-width:789px){
    body {
    padding: 100px 20px;
}
.w-50 {
    width: 100%;
}
.m-5 {
    margin-left: 20px;
    margin-top: 10px;
}
}
@media (max-width:600px){
    body {
    padding: 100px 10px;
}
.m-5 {
    margin-left: 0px;
    margin-top: 10px;
}
b{
   display: none; 
}
.text-box{
    width: 100%;
}
}
